.header {
  display: flex;
  align-items: center;
  background-color: #101010;
  padding: 20px;
  border-bottom: 1px solid #fff;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  animation: fadeIn 1.2s ease-out;
}

.description h1 {
  font-size: 32px;
  margin: 5px 0 5px 0;
  font-weight: 500;
  color: #fff;
}

.description p {
  display: flex;
  align-content: center;
  gap: 10px;
  margin: 3px;
  font-size: 18px;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding: 10;
  }
  .headerName {
    margin-left: 0;
    margin-top: 10px;
    font-size: 20px;
  }
  .description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }
  .description p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 5px;
  }
  .headerName {
    font-size: 18px;
  }
  .description p {
    font-size: 16px;
    gap: 7px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}